/* Icons from directory "" */
.icon-003-rss-1,.icon-003-rss-1\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-003-rss-1-dims{width:32px;height:32px}
.icon-004-spotify,.icon-004-spotify\:regular{background-image:url('icons/icons.svg');background-position:0 -32px;background-repeat:no-repeat}
.icon-004-spotify-dims{width:32px;height:32px}
.icon-005-rss,.icon-005-rss\:regular{background-image:url('icons/icons.svg');background-position:0 -64px;background-repeat:no-repeat}
.icon-005-rss-dims{width:32px;height:32px}
.icon-007-soundcloud,.icon-007-soundcloud\:regular{background-image:url('icons/icons.svg');background-position:0 -96px;background-repeat:no-repeat}
.icon-007-soundcloud-dims{width:32px;height:32px}
.icon-008-myspace,.icon-008-myspace\:regular{background-image:url('icons/icons.svg');background-position:0 -128px;background-repeat:no-repeat}
.icon-008-myspace-dims{width:32px;height:32px}
.icon-009-instagram,.icon-009-instagram\:regular{background-image:url('icons/icons.svg');background-position:0 -160px;background-repeat:no-repeat}
.icon-009-instagram-dims{width:32px;height:32px}
.icon-010-twitter,.icon-010-twitter\:regular{background-image:url('icons/icons.svg');background-position:0 -192px;background-repeat:no-repeat}
.icon-010-twitter-dims{width:32px;height:32px}
.icon-012-man-2,.icon-012-man-2\:regular{background-image:url('icons/icons.svg');background-position:0 -224px;background-repeat:no-repeat}
.icon-012-man-2-dims{width:32px;height:32px}
.icon-013-facebook,.icon-013-facebook\:regular{background-image:url('icons/icons.svg');background-position:0 -256px;background-repeat:no-repeat}
.icon-013-facebook-dims{width:32px;height:32px}
.icon-016-man-1,.icon-016-man-1\:regular{background-image:url('icons/icons.svg');background-position:0 -288px;background-repeat:no-repeat}
.icon-016-man-1-dims{width:32px;height:32px}
.icon-026-settings,.icon-026-settings\:regular{background-image:url('icons/icons.svg');background-position:0 -320px;background-repeat:no-repeat}
.icon-026-settings-dims{width:32px;height:32px}
.icon-030-user-3,.icon-030-user-3\:regular{background-image:url('icons/icons.svg');background-position:0 -352px;background-repeat:no-repeat}
.icon-030-user-3-dims{width:32px;height:32px}
.icon-042-signs-3,.icon-042-signs-3\:regular{background-image:url('icons/icons.svg');background-position:0 -384px;background-repeat:no-repeat}
.icon-042-signs-3-dims{width:32px;height:32px}
.icon-046-window,.icon-046-window\:regular{background-image:url('icons/icons.svg');background-position:0 -416px;background-repeat:no-repeat}
.icon-046-window-dims{width:32px;height:32px}
.icon-050-social-8,.icon-050-social-8\:regular{background-image:url('icons/icons.svg');background-position:0 -448px;background-repeat:no-repeat}
.icon-050-social-8-dims{width:32px;height:32px}
.icon-052-arrows-2,.icon-052-arrows-2\:regular{background-image:url('icons/icons.svg');background-position:0 -480px;background-repeat:no-repeat}
.icon-052-arrows-2-dims{width:32px;height:32px}
.icon-053-signs-1,.icon-053-signs-1\:regular{background-image:url('icons/icons.svg');background-position:0 -512px;background-repeat:no-repeat}
.icon-053-signs-1-dims{width:32px;height:32px}
.icon-055-arrows-1,.icon-055-arrows-1\:regular{background-image:url('icons/icons.svg');background-position:0 -544px;background-repeat:no-repeat}
.icon-055-arrows-1-dims{width:32px;height:32px}
.icon-064-search-engine,.icon-064-search-engine\:regular{background-image:url('icons/icons.svg');background-position:0 -576px;background-repeat:no-repeat}
.icon-064-search-engine-dims{width:32px;height:32px}
.icon-065-musician,.icon-065-musician\:regular{background-image:url('icons/icons.svg');background-position:0 -608px;background-repeat:no-repeat}
.icon-065-musician-dims{width:32px;height:32px}
.icon-081-headphones,.icon-081-headphones\:regular{background-image:url('icons/icons.svg');background-position:0 -640px;background-repeat:no-repeat}
.icon-081-headphones-dims{width:32px;height:32px}
.icon-086-customer-service,.icon-086-customer-service\:regular{background-image:url('icons/icons.svg');background-position:0 -672px;background-repeat:no-repeat}
.icon-086-customer-service-dims{width:32px;height:32px;}
.icon-090-musical-note,.icon-090-musical-note\:regular{background-image:url('icons/icons.svg');background-position:0 -704px;background-repeat:no-repeat}
.icon-090-musical-note-dims{width:32px;height:32px}
.icon-091-pause,.icon-091-pause\:regular{background-image:url('icons/icons.svg');background-position:0 -736px;background-repeat:no-repeat}
.icon-091-pause-dims{width:32px;height:32px}
.icon-092-play-button,.icon-092-play-button\:regular{background-image:url('icons/icons.svg');background-position:0 -768px;background-repeat:no-repeat}
.icon-092-play-button-dims{width:32px;height:32px}
.icon-098-pencil-1,.icon-098-pencil-1\:regular{background-image:url('icons/icons.svg');background-position:0 -800px;background-repeat:no-repeat}
.icon-098-pencil-1-dims{width:32px;height:32px}
.icon-100-shapes,.icon-100-shapes\:regular{background-image:url('icons/icons.svg');background-position:0 -832px;background-repeat:no-repeat}
.icon-100-shapes-dims{width:32px;height:32px}
.icon-101-hand,.icon-101-hand\:regular{background-image:url('icons/icons.svg');background-position:0 -864px;background-repeat:no-repeat}
.icon-101-hand-dims{width:32px;height:32px}
.icon-112-music-file,.icon-112-music-file\:regular{background-image:url('icons/icons.svg');background-position:0 -896px;background-repeat:no-repeat}
.icon-112-music-file-dims{width:32px;height:32px}
.icon-117-earphones,.icon-117-earphones\:regular{background-image:url('icons/icons.svg');background-position:0 -928px;background-repeat:no-repeat}
.icon-117-earphones-dims{width:32px;height:32px}
.icon-120-search,.icon-120-search\:regular{background-image:url('icons/icons.svg');background-position:0 -960px;background-repeat:no-repeat}
.icon-120-search-dims{width:32px;height:32px}
.icon-121-pencil,.icon-121-pencil\:regular{background-image:url('icons/icons.svg');background-position:0 -992px;background-repeat:no-repeat}
.icon-121-pencil-dims{width:32px;height:32px}
.icon-122-turntable,.icon-122-turntable\:regular{background-image:url('icons/icons.svg');background-position:0 -1024px;background-repeat:no-repeat}
.icon-122-turntable-dims{width:32px;height:32px}
.icon-123-headphone,.icon-123-headphone\:regular{background-image:url('icons/icons.svg');background-position:0 -1056px;background-repeat:no-repeat}
.icon-123-headphone-dims{width:32px;height:32px}
.icon-129-people-1,.icon-129-people-1\:regular{background-image:url('icons/icons.svg');background-position:0 -1088px;background-repeat:no-repeat}
.icon-129-people-1-dims{width:32px;height:32px}
.icon-130-people,.icon-130-people\:regular{background-image:url('icons/icons.svg');background-position:0 -1120px;background-repeat:no-repeat}
.icon-130-people-dims{width:32px;height:32px}
