<div align="center">
  <mat-card class="card card-basic">
      <mat-toolbar  color="primary" class="mat-elevation-z6 hideIfBig">
        <h1>Register</h1>
      </mat-toolbar>
      <mat-card class="hideIfSmall"fxFlexAlign="center" style="background-color:cadetblue; color:white;">
        <img  class="mat-elevation-z5" fxFlexAlign="center" src="/assets/nav_logo/001-user-2.svg" style="width:20%; border-radius:50%;">
        <h2>Register</h2>
      </mat-card>
    <mat-card-content>

      <div fxLayout="row" align="center"><h2>Sorry, we aren't accepting new user registrations at this time.</h2></div>

      <!--<form [formGroup]="registerForm" (submit)="register()">
        <div fxLayout="row" align="center">
            <mat-form-field class="input-half-width">
              <input matInput formControlName="fullname" name="fullname" placeholder="Full Name" type="text" required>
            </mat-form-field>
        </div>
        <div fxLayout="row" align="center">
          <mat-form-field class="input-half-width">
            <input matInput formControlName="username" name="username" placeholder="User Name" type="text" required>
          </mat-form-field>
        </div>
        <div fxLayout="row" align="center">
          <mat-form-field class="input-half-width">
            <input matInput formControlName="email" name="email" placeholder="Email" type="text" required>
          </mat-form-field>
        </div>
       <div fxLayout="row" align="center">
        <mat-form-field class="input-half-width">
          <input matInput formControlName="password" name="password" placeholder="Password" type="password" required>
        </mat-form-field>
       </div>
       <div fxLayout="row" align="center">
        <mat-form-field class="input-half-width">
          <input matInput formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm Password" type="password" required>
        </mat-form-field>
      </div>
      </form>-->
    </mat-card-content>
    <mat-card-footer>
      <!--<mat-card-actions>
        <button mat-raised-button color="primary" (click)="register()" [disabled]="!registerForm.valid || !isValid()">Register<mat-icon>check</mat-icon></button>
      </mat-card-actions>-->
    </mat-card-footer>
  </mat-card>
</div>
