.profile-card {
  height: 30vh;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: 50% 50%;
}
@media only screen and (max-width:1026px){


  .profile-image {
    border-radius: 50%;
    /*border: 1px solid black;*/
    /*border: 2px solid white;*/
    /*margin-top:30%;*/
    width:150px;
    height:150px;
    background-size: cover;
    background-position: 50% 50%;
    /*float:left;*/
    /*box-shadow: 10px 10px 1px #888888;*/

  }

  .profile-username {
    font-size: xx-large;
    color: white;
    text-align:center;
    /*background:#3f51b5;*/
    /*margin-top:55%;*/
    /*float:left;*/

    font-weight: 500;

    /*border: 2px solid white;*/

    /*padding: 5px;*/
    /*box-shadow: 1px 2px 1px gray;*/
    text-shadow: 1px 0.5px rgba(0,0,0,0.2);
    -webkit-text-stroke: 0.8px #D3D3D3;
  }
}
@media only screen and (min-width:1026px){


  .profile-image {
    border-radius: 50%;
    /*border: 1px solid black;*/
    /*border: 2px solid white;*/
    margin-top:30%;
    height:350px;
    width:350px;
    background-size: cover;
    background-position: 50% 50%;
    float:left;
    /*box-shadow: 10px 10px 1px #888888;*/

  }

  .profile-username {
    font-size: xx-large;
    color: white;
    text-align:center;
    /*background:#3f51b5;*/
    padding-top:75%;
    float:left;
    height:80px;
    width:80px;
    padding-left: 5px;
    font-weight: 500;

    /*border: 2px solid white;*/

    /*padding: 5px;*/
  /*box-shadow: 1px 2px 1px gray;*/
    text-shadow: 1px 0.5px rgba(0,0,0,0.2);
  -webkit-text-stroke: 0.8px #D3D3D3;
  }
}
 .profile-info {
  background: rgba(0, 0, 0, 0.7);
  max-width: 33%;
  display: table;
 }
